.gradle
/local.properties
.DS_Store
/build
/dist
/captures
.externalNativeBuild
*.pyc
# Intellij
*.iml
*.ipr
*.iws
*.exe
.idea/**
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
*/C1
*/F1

/provider/build
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles
!.idea/inspectionProfiles/Project_Default.xml

versions/.idea/
versions/build/
versions/dist/
versions/*.apk
versions/cache_apks/

/VersionsRecord




