.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
*.pyc
# Intellij
*.iml
*.ipr
*.iws
.idea/**
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml

/provider/build
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles
!.idea/inspectionProfiles/Project_Default.xml
